body { background-color: #FFF0F5;}
#nav-table { width: 800px;}
#nav-td {text-aligh: center;}
#special-bg { background-image: url('https://github.com/emilylambrecht/emilylambrecht.github.io/blob/main/website%20img/background.jpg?raw=true') width: 800px; }
